.default-icon-bubble {
    background: #d6d6d6;
    width: 50px;
    height: 50px;
    margin-right: 25px;
    color: white;
    display: block;
    float: left;
    
}

/*******Login Page background***********/
#login-bg, #sign-bg {
    background: url(../photos/Digital-Dark-Gradient.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -mox-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     font-family: 'Roboto', sans-serif;
}

/*******Form Styling - Login Page***********/
input.login-ben, input.signup-ben {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #adadad;
    border-radius: 0px;
    color: #adadad;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}

#login-submit {
    background-color: #77E9F3; 
    border: none;
}


/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #adadad;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  40px; }
.right-addon input { padding-right: 30px; }

/***************** Sign up page*********************/

.test {
    color: white;
}

.label-input-style {
    color: #adadad;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

